---
layout: default
permalink: /
---

<div class="posts">
  {% assign posts = site.collections | where: "label", "blog" %}
  {% assign posts = site.posts | where: 'category', 'blog' %}
  {% for post in posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      {% include post-attributes.html %}

      <div class="entry">
        {{ post.excerpt | remove: 'Abstract' }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More &GreaterGreater;&GreaterGreater;</a>
    </article>
  {% endfor %}
</div>