---
layout: default
permalink: /
---

<div class="posts">
  {% assign posts = site.posts | where: 'category', 'blog' %}
  {% for post in posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      <hr/>
      <div class="date">
        {{ post.date | date: "%B %e, %Y" }} &middot;
        <a href="{{ site.url }}{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.slug }}">Post a comment</a>
        &middot; {% include read-time.html content=post.content %}
      </div>
      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More &GreaterGreater;&GreaterGreater;</a>
    </article>
  {% endfor %}
</div>
