---
layout: default
---

<article class="post">
    <div class="header">
        <h1>{{ page.title }}</h1>
        <div class="read-time">[{% include read-time.html content=page.content %}]</div>
    </div>

    {% if page.update %}
    {% include living.html update=page.update %}
    {% endif %}

    <div class="entry">
        {{ page.preface }}
        {{ content }}
    </div>

    <div class="date">Written on {{ page.date | date: "%B %e, %Y" }}</div>
    {% if page.lectors %}
    {% include lectors.html items=page.lectors %}
    {% endif %}

    <hr/>

    <div class="tags">
    {% for tag in page.tags %}
        <a href="{{ site.baseurl }}/tags#{{ tag }}">#{{ tag }}</a>
    {% endfor %}
    </div>

    {% include disqus.html %}
</article>
