---
layout: default
---

<article class="post">
    <h1>{{ page.title }}</h1>
    <hr/>
    <div class="read-time">[{% include read-time.html content=page.content %}]</div>

    <div class="entry">
        {{ content }}
    </div>

    <div class="date">Written on {{ page.date | date: "%B %e, %Y" }}</div>
    <hr/>
    <div class="tags">
    {% for tag in page.tags %}
        <a href="{{ site.baseurl }}/tags#{{ tag }}">#{{ tag }}</a>
    {% endfor %}
    </div>

    {% if page.lectors %}
    {% include lectors.html items=page.lectors file="lectors" caption="Lectors" %}
    {% endif %}

    {% include disqus.html %}
</article>
